<div class="row">
  <div class="col-xs-12 ">
    <div class="panel 0, panel-home-heading">
      <div class="jumbotron">
        <h1>Update Your Profile</h1>
        <p>Hit submit button when you are done.</p>
      </div>
    </div>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>
