
<div class="row">
  <div class="col-xs-12 ">
    <div class="panel 0, panel-home-heading">
      <div class="jumbotron">
        <h1>Register an eRun</h1>
        <p>Tell people you are willing to run eRrands for them.</p>
      </div>
    </div>
  </div>
</div>
<%= render 'form' %>
<%= link_to 'Back', root_path %>
<p>[TODO] There should be a cancel here </p>