
<div class="row">
  <div class="col-md-6 no-col-padding">
    <div class="panel 0, panel-home-requests">
      <div class="panel-body">
        <h1>eRun Requests</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 no-col-padding">
    <div class="panel panel-home-registrations">
      <div class="panel-body">
        <h1>eRun Registrations</h1>
      </div>
    </div>
  </div>
</div>
