@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

h1,h2 {
  font-family: 'Ubuntu', 'Helvetica', sans-serif;
}

.body {
  padding-top: 0px;
}

.devise {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  overflow: auto;
}

.panel {
  margin-top: 2px;
  background: rgba(0,0,0,0.25);
  color: white;
  baseBorderRadius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.panel-transparent {
  background-color: rgba(0, 31, 254, 0.3);
  color: black;
}

.help-block {
  color: #fff;
}

.no-col-padding {
  padding: 0 !important;
  margin: 0 !important;
}

/* ------------------------------- Panel Alignment ------------------------------- */
.panel-home-heading {
  margin-top: 10px;
  margin-bottom: 0px;
  background: rgba(0, 92, 246, 0.2);
  color: black;
  height: 200px;
  padding: 0px;
  baseBorderRadius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel-home-content {
  margin-top: 0px;
  background: rgba(0, 92, 246, 0.2);
  color: black;
  height: 1100px;
  padding: 0px;
  baseBorderRadius: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* ------------------------------- Inside Profile ------------------------------- */
.panel-home-requests {
  margin-top: 50px;
  background: rgba(0, 90, 203, 0.2);
  color: black;
  height: 1500px;
  overflow-y: scroll;
  padding: 0px;
  baseBorderRadius: 0;
}
.panel-home-registrations {
  margin-top: 50px;
  background: rgba(0, 92, 246, 0.2);
  color: black;
  height: 1500px;
  overflow-y: scroll;
  padding: 0px;
  baseBorderRadius: 0;
}
.panel-home-nav {
  margin-top: 50px;
  background: rgba(25, 25, 25, 1);
  color: black;
  height: 1500px;
  overflow-y: scroll;
  padding: 0px;
  baseBorderRadius: 0;
}

/* ------------------------------- Before Login - Landing page ------------------------------- */
.panel-home-list {
  padding: 0 !important;
  margin: 0 !important;
  background: white;
  background-image: url(asset_path("logo_3.png"));
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  color: black;
  height: 700px;
  /* scrollable */
  overflow-y: scroll;
}



.panel-home-image1 {
  padding: 0 !important;
  margin: 0 !important;
  background: white;
  background-image: url(asset_path("errand-emotion.png"));
  background-repeat:no-repeat;
  //background-size:contain;
  background-position:right bottom;
  color: black;
  height: 400px;
}

.panel-home-image2 {
  padding: 0 !important;
  margin: 0 !important;
  background: white;
  background-image: url(asset_path("errand-emotion4.png"));
  background-size: 100% 100%;
  color: white;
  height: 300px;
}

.panel-home-image3 {
  padding: 0 !important;
  margin: 0 !important;
  background: white;
  background-image: url(asset_path("errand-emotion2.jpeg"));
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  color: black;
  height: 300px;
}

input {border-style:none;}

.panel-home-register-run {
padding: 0 !important;
margin: 0 !important;
background: white;
height: 400px;
/* background-image:url('errand-logo.jpeg'); */
background-repeat:no-repeat;
background-size:contain;
background-position:bottom;
color: black;
}

.panel-home-signup-run {
padding: 0 !important;
margin: 0 !important;
background: rgba(0, 92, 246, 0.2);
color: black;
height: 1000px;
}

.panel-login {
margin-top: 0px;
background: rgba(0, 189, 159, 1);
color: white;
height: 145px;
padding: 5px;
baseBorderRadius: 0;
padding: 0 !important;
margin: 0 !important;
}

.panel-signup {
  margin-top: 0px;
  background: rgba(0, 90, 203, 1);
  color: white;
  height: 1000px;
  overflow-y: scroll;
  padding: 150px;
  baseBorderRadius: 0;
}

.jumbotron {
background-color: transparent;
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.2em;
  }
}


::-webkit-input-placeholder {
font-size: 10px;
}

.row{
  margin-top: 0px;
  margin-bottom: 0px;
}


.label-align{
  float: left;
  width: 50px;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
ul.list {
  list-style: none;
}
ul.list li {
  display: inline-block;
}

.nav > li > a:focus,
.nav > li > a:hover
{

  background-color: white;
}