<div class="jumbotron">
  <h1>Look For Runners</h1>
  <p>Search for people who are willing to run eRrands for you.</p>
</div>


<form class="form-inline" action="/run_registrations/search" method="post">

  <!-- adds hiden tag to add authenticity  -->
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="form-group">
    <label class="label-align" for="From">From:</label>
    <input type="text" class="form-control" id="From" placeholder="Location of the eRunners you are looking for.." name="runner_from">
  </div>
  <br style="clear: both;">
  <div class="form-group">
    <label class="label-align" for="To">To:   </label>
    <input type="text" class="form-control" id="To" placeholder="When and Where do you want the eRrunners to deliver your item.." name="runner_to">
    <label for="To">Date</label>
    <input type="text" class="form-control" id="To" placeholder="Where do you want the eRrunners to deliver your item..">
  </div>
  <br style="clear: both;">
  <button type="submit" class="btn btn-primary">Look Now</button>
</form>

