<div class="jumbotron">
  <h1>Look For Runners</h1>
  <p>Search for people who are willing to run eRrands for you.</p>
</div>



<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Fr:</span>
  <input type="text" class="form-control" placeholder="Location of the eRunners you are looking for.." aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">To:</span>
  <input type="text" class="form-control" placeholder="Where do you want the eRrunners to deliver your item.." aria-describedby="basic-addon1">
  <span class="input-group-addon" id="basic-addon1">Date</span>
  <input type="text" class="form-control" placeholder="When do you want the item delivered" aria-describedby="basic-addon1">

</div>

<p><a class="btn btn-success btn-sm" href="#" role="button">Search</a></p>