<div class="jumbotron">
  <h1>Offer a Run</h1>
  <p>Tell people you are willing to run eRrands for them</p>
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Fr:</span>
  <input type="text" class="form-control" placeholder="Where are you eRunning.." aria-describedby="basic-addon1">
  <span class="input-group-addon" id="basic-addon1">Date</span>
  <input type="text" class="form-control" placeholder="When are you available for eRunning" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">To:</span>
  <input type="text" class="form-control" placeholder="Where is your destination" aria-describedby="basic-addon1">
  <span class="input-group-addon" id="basic-addon1">Date</span>
  <input type="text" class="form-control" placeholder="When are you arriving at the destination" aria-describedby="basic-addon1">
</div>
<p><a class="btn btn-success btn-sm" href="#" role="button">Login or SignUp</a></p>