<div class="jumbotron">
  <h1>Offer a Run</h1>
  <p>Tell people you are willing to run eRrands for them. Login or Singup now.</p>
</div>


<!--<form class="form-inline">-->
  <!--<div class="form-group">-->
    <!--<label class="label-align" for="From">From:</label>-->
    <!--<input type="text" class="form-control" id="From" placeholder="From Where are you offering to eRun.." size="45">-->
    <!--<label for="From">Date:</label>-->
    <!--<input type="text" class="form-control" id="From" placeholder="When are you available to eRun..">-->
  <!--</div>-->
  <!--<br style="clear: both;">-->
  <!--<div class="form-group">-->
    <!--<label class="label-align" for="To">To:</label>-->
    <!--<input type="text" class="form-control" id="To" placeholder="Where is your destination.." size="45">-->
    <!--<label for="To">Date:</label>-->
    <!--<input type="text" class="form-control" id="To" placeholder="When are you arriving at the destination..">-->
  <!--</div>-->
  <!--<br style="clear: both;">-->
  <!--<button type="submit" class="btn btn-primary" style="margin-left: 50px;">Look Now</button>-->
<!--</form>-->
